.header__upperbar {
    background-color: var(--bege);
    padding: 0.5em;
    display: flex;
    justify-content: center;
}

.upperbar__descricao {
    color: var(--cinza-escuro);
    font-family: 'Arimo';
    font-size: 14px;
}

.upperbar__descricao-negrito {
    font-weight: 700;
}