.introducao {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 2.5em;
}

.introducao__descricao {
    width: 50%;
    font-family: 'Open Sans';
    font-size: 16px;
    text-transform: lowercase;
    padding-bottom: 1em;
    border-bottom: 1px solid var(--bege);
}